type : 'MultiViewBEVFusionUnified'
num_views : 4
backbone : 
    type : 'ResNet'
    depth : 34
    num_stages : 3
    out_indices : [0, 1, 2]
    frozen_stages : 1
    norm_eval : True
    init_cfg : 
      type : 'Pretrained' 
      checkpoint : 'torchvision://resnet34'
neck:
    type: SECONDFPN
    in_channels: [64, 128, 256]
    out_channels: [32, 32, 32]
    upsample_strides: [1, 2, 4] 

# neck : 
#     type : 'FPN'
#     in_channels : [256, 512, 1024, 2048]
#     out_channels : 128
#     num_outs : 4
fisheye_vtransform:
    type: FisheyeLSSTransform
    in_channels: 96
    out_channels: 32
    image_size : [720, 1280]
    final_size : [736, 1280] # the image shape after preprocess
    ratio : 8                                                                                                                                                                                                                                                                                                                             
    xbound : [-10, 10, 0.25]
    ybound : [-10, 10, 0.25]
    zbound : [-3, 3, 6]
    dbound : [0.25, 8, 0.25]
    downsample: 1
pinhole_vtransform:
    type: LSSTransform
    image_size : [368, 640]
    feature_size : [92, 160]
    in_channels: 96
    out_channels: 32
    xbound: [-51.2, 51.2, 0.8]
    ybound: [-51.2, 51.2, 0.8]
    zbound: [-10.0, 10.0, 20.0]
    dbound: [1.0, 60.0, 1.0]
decoder:
  backbone:
    type: GeneralizedResNet
    in_channels: 32
    blocks:
      - [2, 32, 1]
      - [2, 64, 2]
      - [2, 128, 1]
  neck:
    type: LSSFPN
    in_indices: [-1, 0]
    in_channels: [128, 32]
    out_channels: 32
    scale_factor: 1

bbox_head_3d :
    type: CenterHead
    in_channels: 32
    train_cfg:
      point_cloud_range: &point_cloud_range [-51.2, -51.2, -5.0, 51.2, 51.2, 3.0]
      grid_size: [128, 128, 1]
      voxel_size: &voxel_size [0.8, 0.8, 0.8]
      out_size_factor: &out_size_factor 1
      dense_reg: 1
      gaussian_overlap: 0.1
      max_objs: 500
      min_radius: 2
      code_weights: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.2, 0.2]
    test_cfg:
      post_center_limit_range: *point_cloud_range
      max_per_img: 500
      max_pool_nms: false
      min_radius: [4, 12, 10, 0.85, 0.175]
      score_threshold: 0.3
      out_size_factor: *out_size_factor
      voxel_size: *voxel_size
      nms_type: rotate
      pre_max_size: 1000
      post_max_size: 83
      nms_thr: 0.02
    tasks:
      - ["car"]
      - ["truck"]
      - ["bus"]
      - ["bicycle"]
      - ["pedestrian"]
    common_heads:
      reg: [2, 2]
      height: [1, 2]
      dim: [3, 2]
      rot: [2, 2]
      vel: [2, 2]

    share_conv_channel: 64
    bbox_coder:
      type: CenterPointBBoxCoder
      pc_range : *point_cloud_range 
      post_center_range: *point_cloud_range
      max_num: 500
      score_threshold: 0.1
      out_size_factor: *out_size_factor
      voxel_size: *voxel_size
      code_size: 9
    separate_head:
      type: SeparateHead
      init_bias: -2.19
      final_kernel: 3
    loss_cls:
      type: GaussianFocalLoss
      reduction: mean
    loss_bbox:
      type: L1Loss
      reduction: mean
      loss_weight: 0.5
    norm_bbox: true
